.wrapper {
  width: 100%;
}

.dragAndDropItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.dragItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.settings {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
